* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#login_header {
    background-color: rgb(233, 187, 245);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 105px;
}

#home_header {
    background-color: rgb(197, 64, 64);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 105px;
}
.home-footer{
    background-color: rgb(243, 136, 136);
    
}

#login_form {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: rgb(234, 236, 236);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 10px 10px #858383;
}

#login_title {
    text-align: center;
    font-size: 38px;
}

.login_details {
    text-align: center;
    font-size: 15px;
    /*padding:8px 45px;*/
    padding: 2% 12%;
    margin-left: 20%;
    margin-top: 15%;
    border-radius: 4px;
}

#login_submit {
    color: aliceblue;
    background-color: rgb(128, 167, 240);
    font-size: 15px;
    padding: 8px 45px;
    border-radius: 10px;
    margin-left: 34%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
#login_submit:hover {
    background-color: rgb(100, 108, 226);
}

#login_message {
    text-align: center;
    font-size: 15px;
    color: rgb(240, 123, 94);
}
#login_status_box {
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
    background-color: rgb(248, 248, 250);
    width: 600px;
    height: 100px;
}

.nav-button {
    color: aliceblue;
    background-color: rgb(128, 167, 240);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    float: right;
    margin-top: 10px;
    margin-right: 8px;
}
.nav-button:hover {
    background-color: rgb(100, 108, 226);
}

.welcome-user {
    float: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: 25%;
}
.KWL-images {
    float: left;
    position: absolute;
    left: 80px;
    top: 20px;
    
}

.welcome-class {
    float: left;
    color: rgb(209, 213, 248);
    font-family: sans-serif;
    font-size: 35px;
    padding-left: 540px;
    margin-top: 6px;
    margin-left: 10px;
}

.kwl_homepage_logo {
    position: absolute;
    left: 770px; top: 0px;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 10px;
}

section:after {
    content: "";
    display: table;
    clear: both;
  }

.student-login-display {

    float: left; 
    width: 10%;
    background-color: rgb(234, 236, 236);
    padding: 5px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 3px 3px #858383;
    margin: 8px;
}

.kwl-display {
    
    float: left; 
    width: 64%;
    background-color: rgb(234, 236, 236);
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 3px 3px #858383;
    margin: 8px;
    
}

.classroom-display {
    float: left; 
    color: rgb(5, 5, 5);
    width: 80%;
    background-color: rgb(252, 249, 249);
    padding: 20px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 3px 3px #858383;
    margin: 8px;
    margin-left: 30px;
    
}
.subject-title {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 27px;
    color: rgb(128, 5, 145);
}
.introduction{
    font-size: 17px;
    padding-left: 70px;
    padding-right: 70px;
}

.introduction_ul{
    font-size: 17px;
    padding-left: 100px;
    padding-right: 70px;
}
.planet-images {
    padding-top:25px;
    padding-left: 350px;
}

.comment-display {
    float: left; 
    width: 20%;
    background-color: rgb(234, 236, 236);
    padding: 20px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 3px 3px #858383;
    margin: 8px;
}

.chat {
    float: left;
    width: 24%;
    background-color: rgb(234, 236, 236);
    padding: 20px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 3px 3px #858383;
    margin: 8px;
    margin-left: 300px;
}

.websites {
    float: left;
    width: 40%;
    background-color: rgb(234, 236, 236);
    padding: 20px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 3px 3px #858383;
    margin: 8px;
   
}

.scroll_chats {
    height: 400px; 
    overflow: scroll;
}

#comments {
    resize: none;
    font-size: 13px;
    padding: 10px;
    width: 415px;
    margin-bottom: 10px;
}

#comment_button {
    color: aliceblue;
    background-color: rgb(128, 167, 240);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    float: right;
}

#comment_button:hover {
    background-color: rgb(100, 108, 226);
}

.titleformat{
    font-size: 20px;
    padding: 20px;
}

#comment_container {
    font-size: 12px;
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
    background-color: rgb(248, 248, 250);
    width: 400px;
    height: 100px;
}

footer {
    margin-top: 100px;
    background-color: rgb(244, 229, 248);
    padding: 30px;
    width: 100%;
}

.kwltabs {
    margin: auto;
    border-bottom: 1px solid black;
    width: 1010px;
    padding: 0px 20px 0px 20px;
    height: 64px;
}

.kwltabs ul {
    padding: 0;
    list-style: none;
}

.kwltabs ul li {
    float: left;
    margin-right: 20px;
}

.kwltabs ul li a {
    text-decoration: none;
    color: rgb(21, 21, 22);
    background: rgb(184, 184, 226);
    border: 1px solid black;
    border-bottom: none;
    padding: 22px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    width: 110px;
    display: block;
}
.kwltabs ul li a:hover {
    background-color: rgb(146, 179, 223);
}
.kwltabs ul li a#onlink {
    background: white;
    color: black;
    border-bottom: 1px solid white;

}
.kwltabs ul li a#onlink:hover {
    background: white;
    color: black;
}
.kwl-container {
    margin: auto;
    width: 1010px;
    padding: 20px;
    border: 1px solid black;
    min-height: 600px;
    border-top: none;
    background: rgb(255, 255, 255);
}

.know_comments {
    float: left;
    resize: none;
    font-size: 15px;
    padding: 10px;
    width: 415px;
    margin: 10px;

}

.weblink {
    resize: none;
    font-size: 13px;
    padding: 10px; 
    margin: 10px;
}

#know_button {
    float: left;
    color: aliceblue;
    background-color: rgb(82, 109, 228);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
}
#know_button:hover {
    background-color: rgb(65, 167, 226);
}

#submit_question_button {
    float: left;
    margin-top: 20px;
    color: aliceblue;
    background-color: rgb(82, 109, 228);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
   
}
#submit_question_button:hover {
    background-color: rgb(65, 167, 226);
}

.student_input {
    margin-top: 20px;
    float: left;
    width: 45%;
}

#team_symbol {
   width: 20%;
    margin-top:0;
    font-size: 45px;
    color: rgb(32, 14, 199);
}
.display_facts{
    float: left;
    width: 58%;
    background-color: rgb(239, 239, 247);
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    height: 500px;
    overflow: scroll;
}

.display_questions{
    float: left;
    width: 40%;
    background-color: rgb(239, 239, 247);
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    margin-left: 14px;
    height: 500px;
    overflow: scroll;
}
.blackboard {
    background-color: rgb(7, 7, 7); 
    border: 4px solid #cc7a00; 
    margin-top: 5px;
}
.student_guidance {
    font-family: Comic Sans MS; 
    color: rgb(248, 245, 245); 
    padding: 8px;
}
.keyword_title {
    font-family: Comic Sans MS; 
    color: black; 
    text-align: center; 
    font-size: 18px;
}
.keywords {
    font-family: Comic Sans MS; color: white; background-color: rgb(163, 163, 238); padding: 2px;
}

.title_text {
    text-align: center;
    font-size: 18px;
    color: rgb(39, 5, 161);
}

.myteams {
    background-color: rgb(246, 248, 250);
    border-radius: 10px;
    border: solid rgb(245, 213, 245) 2px;
    padding: 0px;
    padding-bottom: 12px;
    padding-left: 45px;
}

/*-----------------------------------------------------------------------------------------*/
.kwl_option_display {
    float: left; 
    width: 27%;
    background-color: rgb(252, 248, 252);
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 3px 3px #858383;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
    min-height: 800px;
}

.mkwl_option_display {
    float: left; 
    width: 27%;
    background-color: rgb(252, 248, 252);
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(153, 18, 153) 2px;
    box-shadow: 3px 3px #858383;
    margin-top: 20px;
    margin-left: 710px;
    margin-right: 8px;
    min-height: 800px;
}
.KWL-titles {
    text-align: center;
    font-size: 32px;
    color: rgb(128, 5, 145);
}

.kwl_team_logo {
    width: 220px; 
    height: 125px; 
    margin-left: 125px; 
    margin-top: 23px; 
    margin-bottom: 15px;
}

.kwl_plus_logo {
    width: 320px; 
    height: 160px; 
    margin-left: 70px;
}

.kwl_custom_logo {
    width: 170px; 
    height: 120px; 
    margin-left: 140px; 
    margin-top: 23px; 
    margin-bottom: 15px;
}

.mkwl_science_logo {
    width: 200px; 
    height: 150px; 
    margin-left: 130px; 
    margin-top: 0px; 
    margin-bottom: 15px;
}


.KWL-nav-button {
    float: left; 
    margin-left: 100px;
    color: aliceblue;
    background-color: rgb(128, 167, 240);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 0px;
   
}
.KWL-plus-nav-button {
    float: left; 
    margin-left: 183px;
    color: aliceblue;
    background-color: rgb(128, 167, 240);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 0px;
   
}

.KWL-custom-nav-button {
    float: left; 
    margin-left: 160px;
    color: aliceblue;
    background-color: rgb(128, 167, 240);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 0px;
   
}

.mKWL-nav-button {
    float: left; 
    margin-left: 175px;
    color: aliceblue;
    background-color: rgb(128, 167, 240);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 0px;
   
}
.KWL-nav-button:hover {
    background-color: rgb(100, 108, 226);
}

.KWL_option_info {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding-top: 10px;
}

.KWL_plus_option_info {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding-top: 40px;
}

.KWL_custom_option_info {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding-top: 75px;
}

.mKWL_option_info {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding-top: 65px;
}



.keyword_invalid {
    width: 200px; 
    height: 130px; 
    position: absolute; 
    left: 820px; 
    top: 240px;
   
}

@keyframes fadein {
    0%, 100% {
      opacity: 0;
    }
  
    0% {
      opacity: 1;
      
    }
  
  }
  

.fade{
    opacity: 0;
    animation: fadein 8s ease-in-out 0s 1;  
   
  }

.mkwltabs {
    margin: auto;
    border-bottom: 1px solid black;
    width: 1010px;
    padding: 0px 20px 0px 20px;
    height: 64px;
}

.mkwltabs ul {
    padding: 0;
    list-style: none;
}

.mkwltabs ul li {
    float: left;
    margin-right: 20px;
}

.mkwltabs ul li a {
    text-decoration: none;
    color: rgb(21, 21, 22);
    background: rgb(184, 184, 226);
    border: 1px solid black;
    border-bottom: none;
    padding: 22px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    width: 220px;
    display: block;
}
.mkwltabs ul li a:hover {
    background-color: rgb(146, 179, 223);
}
.mkwltabs ul li a#onlink {
    background: white;
    color: black;
    border-bottom: 1px solid white;

}
.mkwltabs ul li a#onlink:hover {
    background: white;
    color: black;
}

.solo_button{
    color: aliceblue;
    background-color: rgb(128, 167, 240);
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    float: right;
    margin-top: 18px;
    margin-right: 8px;
}
.solo_button:hover {
    background-color: rgb(100, 108, 226);
}

/* MEDIA QUERIES */


/* Macbook Retina Laptop **********************************************************************************/

@media only screen
and (max-width : 1800px) and (min-width : 1400px) {
    .login_details {
        text-align: center;
        font-size: 15px;
        /*padding:8px 45px;*/
        /*padding: 4px 34px;*/
        padding: 2% 22%;
        margin-left: 1px;
        margin-top: 15%;
        border-radius: 4px;
    }

    #login_submit {
        color: aliceblue;
        background-color: rgb(128, 167, 240);
        font-size: 15px;
        padding: 4px 34px;
        border-radius: 10px;
        margin-left: 32%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .kwl_homepage_logo {
        left: 570px; top: 0px;
    }

    .kwl_team_logo {
        margin-left: 60px; 
        margin-top: 23px; 
        margin-bottom: 15px;
    }

    .kwl_plus_logo {
        margin-left: 2px;
    }

    .kwl_custom_logo {
        width: 170px; 
        height: 120px; 
        margin-left: 85px; 
        margin-top: 23px; 
        margin-bottom: 15px;
    }

    .KWL-nav-button {
        float: left; 
        margin-left: 37px;
        color: aliceblue;
        background-color: rgb(128, 167, 240);
        font-size: 15px;
        padding: 8px;
        border-radius: 10px;
        margin-top: 12px;
        margin-bottom: 0px;
       
    }

    .KWL-plus-nav-button {
        float: left; 
        margin-left: 120px;
        color: aliceblue;
        background-color: rgb(128, 167, 240);
        font-size: 15px;
        padding: 8px;
        border-radius: 10px;
        margin-top: 12px;
        margin-bottom: 0px;
       
    }

    .KWL-custom-nav-button {
        float: left; 
        margin-left: 100px;
        color: aliceblue;
        background-color: rgb(128, 167, 240);
        font-size: 15px;
        padding: 8px;
        border-radius: 10px;
        margin-top: 12px;
        margin-bottom: 0px;
       
    }
    .mKWL-nav-button {
        float: left; 
        margin-left: 205px;
        color: aliceblue;
        background-color: rgb(128, 167, 240);
        font-size: 15px;
        padding: 8px;
        border-radius: 10px;
        margin-top: 12px;
        margin-bottom: 0px;
       
    }
    .kwl_option_display {
        float: left; 
        width: 27%;
        background-color: rgb(252, 248, 252);
        padding: 10px;
        border-radius: 10px;
        border: solid rgb(153, 18, 153) 2px;
        box-shadow: 3px 3px #858383;
        margin-top: 20px;
        margin-left: 8px;
        margin-right: 8px;
        min-height: 800px;
    }
    .mkwl_option_display {
        float: left; 
        width: 40%;
        background-color: rgb(252, 248, 252);
        padding: 10px;
        border-radius: 10px;
        border: solid rgb(153, 18, 153) 2px;
        box-shadow: 3px 3px #858383;
        margin-top: 20px;
        margin-left: 450px;
        margin-right: 8px;
        min-height: 700px;
    }
    .mkwl_science_logo {
        width: 200px; 
        height: 150px; 
        margin-left: 160px; 
        margin-top: 0px; 
        margin-bottom: 15px;
    }
    


.myteams {
    background-color: rgb(246, 248, 250);
    border-radius: 10px;
    border: solid rgb(245, 213, 245) 2px;
    padding: 0px;
    padding-bottom: 12px;
    padding-left: 25px;
}
}

/* Windows Laptop *********************************************/

@media only screen
and (max-width : 1400px) {
    .login_details {
        text-align: center;
        font-size: 15px;
        /*padding:8px 45px;*/
        padding: 2% 15%;
        margin-left: 1px;
        margin-top: 15%;
        border-radius: 4px;
    }

    #login_submit {
        /*color: aliceblue;*/
        color:aliceblue;
        background-color: rgb(128, 167, 240);
        font-size: 15px;
        padding: 4px 34px;
        border-radius: 10px;
        margin-left: 27%;
        margin-top: 10%;
        margin-bottom: 10%;
        
    }
}